#carouselInfinity::before {
    content: " ";
    position: absolute;
    left: 0;
    top: 0;
    background: rgb(255, 255, 255);
    background: linear-gradient(90deg, rgb(255, 255, 255) 40%, rgba(255, 255, 255, 0) 100%);
    width: 50px;
    height: 100%;
    z-index: 1;
}
#carouselInfinity::after {
    content: " ";
    position: absolute;
    right: 0;
    top: 0;
    background: rgb(255, 255, 255);
    background: linear-gradient(270deg, rgb(255, 255, 255) 40%, rgba(255, 255, 255, 0) 100%);
    width: 50px;
    height: 100%;
    z-index: 1;
}